

.center {
	margin: 0px auto
}

.cgg {
	color: #999;
	text-decoration: none
}

.cgg a:visited {
	color: #999;
	text-decoration: none
}

.cgg a:link {
	color: #999;
	text-decoration: none
}

.cgg a:hover {
	color: #c5a31e;
	text-decoration: none
}

.cwhite {
	color: #fff;
	text-decoration: none
}

.cwhite a:visited {
	color: #fff;
	text-decoration: none
}

.cwhite a:link {
	color: #fff;
	text-decoration: none
}

.cwhite a:hover {
	color: #fff;
	text-decoration: none
}

.cyellow {
	color: #b86c21;
	text-decoration: none
}

.cyellow a:visited {
	color: #b86c21;
	text-decoration: none
}

.cyellow a:link {
	color: #b86c21;
	text-decoration: none
}

.cyellow a:hover {
	color: #f99b1d;
	text-decoration: none
}

.cyellow1 {
	color: #fb9d21;
	text-decoration: none
}

.cyellow1 a:visited {
	color: #fb9d21;
	text-decoration: none
}

.cyellow1 a:link {
	color: #fb9d21;
	text-decoration: none
}

.cyellow1 a:hover {
	color: #fc0;
	text-decoration: none
}

.cgreen {
	color: #bc7e33;
	text-decoration: none
}

.cgreen a:visited {
	color: #bc7e33;
	text-decoration: none
}

.cgreen a:link {
	color: #bc7e33;
	text-decoration: none
}

.cgreen a:hover {
	color: #fc9d00;
	text-decoration: underline
}

.cgreenl {
	color: #759f6d;
	text-decoration: none
}

.cgreenl a:visited {
	color: #759f6d;
	text-decoration: none
}

.cgreenl a:link {
	color: #759f6d;
	text-decoration: none
}

.cgreenl a:hover {
	color: #759f6d;
	text-decoration: underline
}

.cgray {
	color: #7f7f7f;
	text-decoration: none
}

.cgray a:visited {
	color: #7f7f7f;
	text-decoration: none
}

.cgray a:link {
	color: #7f7f7f;
	text-decoration: none
}

.cgray a:hover {
	color: #333;
	text-decoration: none
}

.cdgray {
	color: #3f3f3f;
	text-decoration: none
}

.cdgray a:visited {
	color: #3f3f3f;
	text-decoration: none
}

.cdgray a:link {
	color: #3f3f3f;
	text-decoration: none
}

.cdgray a:hover {
	color: #cccccc;
	text-decoration: none
}

.cblack {
	color: #fff;
	text-decoration: none
}

.cblack a:visited {
	color: #fff;
	text-decoration: none
}

.cblack a:link {
	color: #fff;
	text-decoration: none
}

.cblack a:hover {
	color: #fff;
	text-decoration: underline
}

.cblue {
	color: #2b438b;
	text-decoration: none
}

.cblue a:visited {
	color: #2b438b;
	text-decoration: none
}

.cblue a:link {
	color: #2b438b;
	text-decoration: none
}

.cblue a:hover {
	color: #720000;
	text-decoration: underline
}

.cred {
	color: red;
	text-decoration: none
}

.cred a:visited {
	color: red;
	text-decoration: none
}

.cred a:link {
	color: red;
	text-decoration: none
}

.cred a:hover {
	color: #720000;
	text-decoration: underline
}

.cdred {
	color: #a01003;
	text-decoration: none
}

.cdred a:visited {
	color: #a01003;
	text-decoration: none
}

.cdred a:link {
	color: #a01003;
	text-decoration: none
}

.cdred a:hover {
	color: #a01003;
	text-decoration: underline
}

a:link {
	color: #fff;
	text-decoration: none
}

a:visited {
	color: #fff;
	text-decoration: none
}

a:hover {
	color: #fff
}

a:active {
	color: #fff
}

.fi {
	font-style: italic
}

.fb {
	font-weight: bold
}

.f12px {
	font-size: 12px
}

.f14px {
	font-size: 14px
}

.f16px {
	font-size: 16px
}

.undl {
	text-decoration: underline
}

.nav_top {
	
}

.nav_top_td {
	text-align: center;
	width: 80px;
	background: url(../images/top_bar.gif) no-repeat center 50%;
	color: #fff
}

.nav_top_l {
	text-align: center;
	width: 5px;
	background: url(../images/b.jpg) no-repeat center 50%
}

#rights {
	margin: auto;
	width: 49%;
	float: left;
	height: 80px
}

#info {
	width: 173px;
	background: url(../images/left_bg0.jpg) repeat-x
}

#nav {
	margin: 15px auto auto;
	width: 90%;
	background: url(../images/mback.gif) repeat-x;
	height: 25px
}

.div1 {
	text-align: center;
	width: 10%;
	display: block;
	background: url(../images/mitemhback.gif);
	float: left;
	height: 20px;
	color: white;
	vertical-align: middle;
	padding-top: 4px
}

#div2 {
	width: 2px;
	background: url(../images/mseparator.gif) repeat-x center 50%;
	float: left;
	height: 25px
}

#infobg {
	background: url(../images/infobg.png) repeat-x
}

.link {
	color: white;
	text-decoration: none
}

.td {
	text-align: center;
	line-height: 22px;
	color: #000000;
	font-size: 13px
}

#head {
	text-align: left;
	margin: 2px auto auto;
	width: 500px;
	background: url(../images/mback.gif) repeat-x left 50%;
	height: 25px
}

#head ul {
	list-style-type: none;
	width: 100%;
	height: 25px;
	list-style-image: none
}

#head .navl {
	padding-bottom: 0px;
	width: 100%;
	padding-right: 0px;
	float: right;
	height: 25px;
	padding-top: 0px
}

#head .navl li {
	text-align: center;
	padding-bottom: 0px;
	line-height: 30px;
	padding-left: 0px;
	width: 100px;
	padding-right: 0px;
	display: block;
	float: left;
	height: 25px;
	font-size: 12px;
	vertical-align: middle;
	padding-top: 0px
}

#head .navl a {
	width: 100%;
	display: block;
	height: 25px
}

#head .navl a:hover {
	background: url(../images/mitemhback.gif);
	color: #fff;
	text-decoration: none
}

#head .lia a {
	background: url(../images/mseparator.gif) no-repeat right 50%
}

#head .img {
	margin-top: 6px;
	width: 2px
}

#main_left_main {
	padding-bottom: 0px;
	margin-top: 0px;
	min-height: 520px;
	width: 188px;
	height: 520px;
	margin-left: 1px;
	overflow: hidden
}

#main_left_main dt {
	border-bottom: #0a508c 1px solid;
	filter: progid : dximagetransform.microsoft.gradient ( gradienttype = 0,
		startcolorstr = #0a508c, endcolorstr = #126eaf );
	border-left: #0a508c 1px solid;
	line-height: 25px;
	padding-left: 30px;
	height: 26px;
	color: #fff;
	border-top: #0a508c 1px solid;
	font-weight: bold;
	border-right: #0a508c 1px solid
}

#main_left_main dt a:link {
	color: #fff;
	text-decoration: none
}

#main_left_main a:visited {
	color: #fff;
	text-decoration: none
}

#main_left_main dt a:hover {
	color: #fff;
	text-decoration: none
}

#main_left_main ul {
	padding-bottom: 5px;
	line-height: 23px
}

#main_left_main li {
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 1px;
	height: 23px;
	margin-left: 48px;
	overflow: hidden;
	padding-top: 2px
}

#main_left_main li a {
	color: #fff
}

#main_left_main li a:link {
	color: #fff
}

#main_left_main li a:visited {
	color: #fff
}

#main_left_main li a:hover {
	background-color: #126eaf;
	width: 100%;
	display: block;
	height: 23px;
	color: #ff00ff
}

.list {
	padding-bottom: 0px;
	line-height: 28px;
	padding-left: 12px;
	padding-right: 12px;
	background: url(../images/pic_jt.gif) no-repeat 3px center;
	height: 28px;
	font-size: 12px;
	padding-top: 0px
}

.list_bg {
	background: #fff
}

.list_bg td {
	border-bottom: #000 1px solid
}

.prolist .propic {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid
}

.prolist li {
	text-align: center;
	margin: 10px 12px;
	width: 150px;
	float: left
}

.prolist li img {
	margin: 4px
}

.prolist h3 {
	height: 40px;
	overflow: hidden
}

.badgray {
	border-bottom: #b3b3b3 1px dashed;
	border-left: #b3b3b3 1px dashed;
	border-top: #b3b3b3 1px dashed;
	border-right: #b3b3b3 1px dashed
}

.basgray {
	border-bottom: #b3b3b3 1px solid;
	border-left: #b3b3b3 1px solid;
	border-top: #b3b3b3 1px solid;
	border-right: #b3b3b3 1px solid
}

.bbdgray {
	border-bottom: #b3b3b3 1px dashed
}

.bbsgray {
	border-bottom: #d1d1d1 1px solid
}

table {
	border-collapse: collapse;
	empty-cells: show
}

table td {
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;

	padding-top: 2px
}

table.t1 {
	border-bottom: #000 1px solid;
	border-left: #000 1px solid;
	border-top: #000 1px solid;
	border-right: #000 1px solid
}

table.t1 th {
	border-bottom: #000 1px solid;
	border-left: #000 1px solid;
	border-top: #000 1px solid;
	border-right: #000 1px solid
}

table.t1 td {
	border-bottom: #000 1px solid;
	border-left: #000 1px solid;
	border-top: #000 1px solid;
	border-right: #000 1px solid
}

table.t1 th {
	text-align: center;
	background: #cf3862;
	height: 27px;
	color: #000
}

table.t1 td {
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	background: #373b3e;
	height: 22px;
	color: #ccc;
	padding-top: 2px
}

.tagbox {
	border-bottom: #9db0bc 1px solid;
	border-left: #9db0bc 1px solid;
	margin: 0px 5px;
	border-top: #9db0bc 1px solid;
	border-right: #9db0bc 1px solid
}

.tagbox .divcontent {
	
}

.tag {
	border-bottom: medium none;
	filter: progid : dximagetransform.microsoft.gradient ( gradienttype = 0,
		startcolorstr = #ffffff, endcolorstr = #d6dee3 );
	border-left: medium none;
	height: 25px
}

.tag li {
	line-height: 25px;
	float: left;
	height: 25px
}

.tag li a {
	display: block;
	background: #1f6b79;
	height: 25px;
	color: #000000;
	font-weight: bold;
	text-decoration: none
}

.tag li span {
	text-align: center;
	filter: progid : dximagetransform.microsoft.gradient ( gradienttype = 0,
		startcolorstr = #ffffff, endcolorstr = #d6dee3 );
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	font-weight: bold;
	border-right: #9db0bc 1px solid;
	padding-top: 0px;
	_background: #e5eaed
}

.tag .selected a {
	display: block;
	background: #fff;
	height: 22px;
	color: #5f4c26;
	font-weight: bold;
	text-decoration: none
}

.tag .selected span {
	text-align: center;
	filter: progid : dximagetransform.microsoft.gradient ( gradienttype = 0,
		startcolorstr = #ffffff, endcolorstr = #ffffff );
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
	font-weight: bold;
	padding-top: 0px;
	_background: #fff
}

.sumit {
	border-bottom: medium none;
	text-align: center;
	border-left: medium none;
	line-height: 24px;
	width: 40px;
	background: url(../images/btn_sumit.png) no-repeat;
	height: 24px;
	border-top: medium none;
	border-right: medium none
}

.input {
	line-height: 20px;
	height: 20px
}

.input:hover {
	border-bottom: #b3b3b3 1px solid;
	border-left: #b3b3b3 1px solid;
	line-height: 20px;
	background: #f7fcf7;
	height: 22px;
	border-top: #b3b3b3 1px solid;
	border-right: #b3b3b3 1px solid
}

.blank10 {
	height: 10px;
	clear: both
}

.p10 {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px
}

.operation {
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px
}

.nextpage {
	text-align: right;
	padding-bottom: 0px;
	margin: 0px 0px 5px;
	width: 100%
}

.pageleft {
	float: left;
	padding-top: 3px
}

.pageright {
	float: right
}

fieldset {
	border-bottom: #0a508c 1px solid;
	border-left: #0a508c 1px solid;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-top: #0a508c 1px solid;
	border-right: #0a508c 1px solid;
	padding-top: 5px
}

legend {
	color: #0a508c;
	font-weight: bold
}

.datatable {
	padding-bottom: 5px;
	margin: 5px 0px;
	padding-left: 5px;
	padding-right: 5px;
	clear: both;
	padding-top: 5px
}

.ico_n {
	padding-left: 20px;
	background: url(../images/ico_n.jpg) no-repeat left center;
	height: 20px
}

.ico_rl {
	padding-left: 18px;
	background: url(../images/ico_rl.jpg) no-repeat left center;
	height: 20px
}

.ico_annouce {
	padding-left: 18px;
	background: url(../images/annouce.gif) no-repeat left center;
	height: 19px
}

.ico_m {
	line-height: 26px;
	padding-left: 20px;
	background: url(../images/ico_m.jpg) no-repeat left center;
	height: 26px;
	margin-left: 10px
}

.ico_location {
	text-align: left;
	float: left;
	color: #fff;
	font-size: 12px
}

.ico_search {
	padding-bottom: 1px;
	padding-left: 20px;
	padding-right: 1px;
	background: url(../images/ico_search.gif) no-repeat left center;
	height: 35px;
	padding-top: 1px
}

.ico_warning {
	line-height: 16px;
	padding-left: 20px;
	background: url(../images/ico_wraningyellow.gif) no-repeat left center;
	height: 16px
}

.ico_mail {
	line-height: 16px;
	padding-left: 20px;
	background: url(../images/ico_mail.gif) no-repeat left center;
	height: 16px
}

.ico_mailsendtime {
	line-height: 16px;
	padding-left: 20px;
	background: url(../images/ico_mailsendtime.gif) no-repeat left center;
	height: 16px
}

.ico_mailretime {
	line-height: 16px;
	padding-left: 20px;
	background: url(../images/ico_mailretime.gif) no-repeat left center;
	height: 16px
}

.ico_ok {
	line-height: 16px;
	padding-left: 20px;
	background: url(../images/ico_ok.gif.gif) no-repeat left center;
	height: 16px
}

.ico_del {
	line-height: 16px;
	padding-left: 20px;
	background: url(../images/ico_del.gif) no-repeat left center;
	height: 16px
}

.ico_reg {
	line-height: 16px;
	padding-left: 20px;
	background: url(../images/ico_reg.gif) no-repeat left center;
	height: 16px
}

.ico_annouced {
	padding-bottom: 2px;
	line-height: 25px;
	padding-left: 26px;
	padding-right: 2px;
	background: url(../images/ico_annouce.gif) no-repeat left center;
	height: 35px;
	padding-top: 2px
}

.ico_admin {
	line-height: 16px;
	padding-left: 20px;
	background: url(../images/ico_admin.gif) no-repeat left center;
	height: 16px
}

.ico_jj {
	line-height: 30px;
	padding-left: 20px;
	background: url(../images/ico_jj.gif) no-repeat left center;
	height: 30px
}

.ico_jf {
	line-height: 30px;
	padding-left: 20px;
	background: url(../images/ico_jf.gif) no-repeat left center;
	height: 30px
}

.ico_grade {
	line-height: 16px;
	padding-left: 20px;
	background: url(../images/ico_grade.gif) no-repeat left center;
	height: 10px
}

.ico_lock {
	line-height: 16px;
	padding-left: 20px;
	background: url(../images/ico_lock.gif) no-repeat left center;
	height: 16px
}

.ico_success {
	line-height: 31px;
	padding-left: 40px;
	display: block;
	background: url(../images/ico_success.gif) no-repeat left center;
	height: 31px
}

.ico_del_windows {
	line-height: 16px;
	background: url(../images/ico_del_windows.gif) no-repeat left center;
	height: 16px
}

.ico_common {
	padding-bottom: 1px;
	padding-left: 20px;
	padding-right: 1px;
	background: url(../images/ico_common.png) no-repeat left center;
	padding-top: 1px
}

.ico_record {
	padding-bottom: 1px;
	padding-left: 20px;
	padding-right: 1px;
	background: url(../images/ico_record.png) no-repeat left center;
	padding-top: 1px
}

.ico_structoin {
	padding-bottom: 1px;
	padding-left: 20px;
	padding-right: 1px;
	background: url(../images/ico_structoin.gif) no-repeat left center;
	padding-top: 1px
}

.nodata {
	margin: 0px auto;
	width: 250px
}

.btn_blue {
	border-bottom: #0a508c 1px solid;
	filter: progid : dximagetransform.microsoft.gradient ( gradienttype = 0,startcolorstr = #0a508c, endcolorstr = #126eaf );
	border-left: #0a508c 1px solid;
	line-height: 20px;
	margin: 0px 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #fff;
	font-size: 12px;
	border-top: #0a508c 1px solid;
	cursor: hand;
	border-right: #0a508c 1px solid;
	padding-top: 0px
}

.location {
	border-bottom: #0a508c 1px solid;
	text-align: right;
	filter: progid : dximagetransform.microsoft.gradient ( gradienttype = 0,
		startcolorstr = #0a508c, endcolorstr = #126eaf );
	border-left: #0a508c 1px solid;
	padding-bottom: 0px;
	line-height: 26px;
	padding-left: 10px;
	padding-right: 10px;
	height: 26px;
	color: #fff;
	border-top: #0a508c 1px solid;
	border-right: #0a508c 1px solid;
	padding-top: 0px
}

.location a:link {
	color: #8b8b8b;
	text-decoration: none
}

.location a:visited {
	color: #8b8b8b;
	text-decoration: none
}

.boxstyle {
	border-bottom: #0a508c 3px solid;
	border-left: #0a508c 3px solid;
	margin: 30px auto 0px;
	color: #000;
	border-top: #0a508c 3px solid;
	border-right: #0a508c 3px solid
}

.boxtit {
	filter: progid : dximagetransform.microsoft.gradient ( gradienttype = 0,
		startcolorstr = #0a508c, endcolorstr = #126eaf );
	line-height: 25px;
	margin: 1px;
	height: 25px;
	color: #fff
}

.boxtit h2 {
	padding-left: 10px;
	float: left;
	font-weight: bold
}

.boxtit button {
	display: block;
	float: right;
	margin-right: 10px
}

.boxcon {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px
}

.reg_success {
	text-align: left;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 350px;
	padding-right: 10px;
	padding-top: 10px
}

.reg_success span {
	line-height: 45px;
	height: 45px
}

.area {
	margin: 0px auto;
	width: 1002px
}

.clear {
	clear: both
}

.header {
	
}

.mainpage {
	background: url(../images/bg_sub_body.jpg)
}

.lefton {
	width: 12px
}

.leftpic {
	margin-top: 0px;
	width: 6px;
	height: 75px;
	cursor: pointer
}

.footer {
	text-align: center;
	background: url(../images/bot_bg.jpg) no-repeat;
	height: 38px;
	padding-top: 30px
}

.coll {
	width: 172px;
	float: left
}

.colm {
	width: 8px;
	float: left
}

.colr {
	width: 100%;
	float: left
}

.collm {
	
}

.colmr {
	
}

.login {
	margin: 0px auto;
	width: 1100px;
	background: url(../images/login1.jpg) #f6fcee no-repeat center top
}

.login_bg {
	background: url(../images/login_bg.jpg) #089efd repeat-x left top
}

.input {
	line-height: 20px;
	width: 170px;
	height: 20px
}

.inputcode {
	line-height: 20px;
	width: 70px;
	height: 20px
}

.login_01 {
	height: 230px;
	overflow: hidden
}

.login_02 td {
	line-height: 26px;
	height: 28px;
	color: #000;
	font-size: 14px
}

.login_03 {
	border-bottom: #000 2px solid;
	line-height: 30px;
	width: 380px;
	font-size: 24px;
	font-weight: bold
}

.login_btn {
	border-bottom: medium none;
	text-align: center;
	border-left: medium none;
	line-height: 30px;
	margin-top: 5px;
	width: 96px;
	background: url(../images/buttom.jpg) no-repeat left bottom;
	height: 30px;
	border-top: medium none;
	border-right: medium none
}

.loginen {
	margin: 0px auto;
	width: 1100px;
	background: url(../images/login1_en.jpg) #f6fcee no-repeat center top
}

.loginko {
	margin: 0px auto;
	width: 1100px;
	background: url(../images/login1_ko.jpg) #f6fcee no-repeat center top
}

.loginft {
	margin: 0px auto;
	width: 1100px;
	background: url(../images/login1_ft.jpg) #f6fcee no-repeat center top
}

.m_top {
	filter: progid : dximagetransform.microsoft.gradient ( gradienttype = 0,
		startcolorstr = #0a508c, endcolorstr = #126eaf );
	width: 100%
}

.logo {
	width: 328px;
	background: url(../images/logo.gif) no-repeat left top;
	height: 58px
}

.logo_en {
	width: 328px;
	background: url(../images/logo_en.gif) no-repeat left top;
	height: 58px
}

.logo_ko {
	width: 328px;
	background: url(../images/logo_ko.gif) no-repeat left top;
	height: 58px
}

.logo_ft {
	width: 328px;
	background: url(../images/logo_ft.gif) no-repeat left top;
	height: 58px
}

.top_r11 {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	width: 100%;
	padding-right: 0px;
	height: 28px;
	padding-top: 0px
}

.bgc {
	background: #7e7e7e
}

.bg_main {
	background: url(../images/bg_main.jpg) repeat-x left top;
	padding-top: 40px
}

.mleft {
	padding-bottom: 10px;
	padding-left: 10px;
	width: 272px;
	padding-right: 0px;
	padding-top: 0px
}

.mbg_login {
	padding-bottom: 20px;
	padding-left: 24px;
	padding-right: 20px;
	background: url(../images/bg_login.jpg) no-repeat left top;
	height: 200px;
	padding-top: 45px
}

.mright {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px
}

.bt_bc {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: #fef5ca;
	height: 7px;
	overflow: hidden;
	padding-top: 0px
}

.bt_bg {
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background: url(../images/bottom.jpg) no-repeat left top;
	height: 7px;
	padding-top: 0px
}

.left {
	padding-bottom: 0px;
	padding-left: 0px;
	width: 188px;
	padding-right: 0px;
	background: #0a508c;
	padding-top: 0px
}

.tips {
	padding-bottom: 10px;
	line-height: 22px;
	background: url(../images/rpheaderbackground.gif) repeat-x;
	color: #fff;
	overflow: hidden;
	padding-top: 21px
}

.ico_zm {
	padding-left: 20px;
	background: url(../images/ico_zm.gif) no-repeat left center;
	height: 20px
}

.f5 {
	padding-left: 20px;
	background: url(../images/pic_f5.gif) no-repeat left center;
	height: 20px
}

.x {
	padding-left: 20px;
	background: url(../images/pici_x.gif) no-repeat left center;
	height: 20px
}

.bg_mian1 {
	min-height: 472px
}

.ny_title {
	border-bottom: #000 1px solid;
	line-height: 25px;
	padding-left: 20px;
	width: 95%;
	background: url(../images/ico_m.jpg) no-repeat left 50%
}

.article_title {
	text-align: center
}

.article_title span {
	text-align: center;
	display: block;
	font-size: 12px;
	font-weight: normal
}

.contentbox {
	margin-top: 10px;
	padding-left: 20px
}

.emalibtn {
	margin: 5px
}

.mailtop {
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 5px;
	height: 25px;
	padding-top: 5px
}

.sendmen {
	line-height: 25px;
	width: 150px;
	float: left;
	height: 25px
}

.sendtime {
	line-height: 25px;
	width: 220px;
	float: right;
	height: 25px
}

.mailcon {
	border-bottom: #e3ded4 1px solid;
	border-left: #e3ded4 1px solid;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background: #f9f8f6;
	border-top: #e3ded4 1px solid;
	border-right: #e3ded4 1px solid;
	padding-top: 10px
}

.reply {
	clear: both
}

.managerreply {
	border-bottom: #e3e2e0 1px solid;
	border-left: #e3e2e0 1px solid;
	padding-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	background: #fff;
	border-top: #e3e2e0 1px solid;
	border-right: #e3e2e0 1px solid;
	padding-top: 5px
}

.zxgw {
	border-bottom: #999 1px dashed
}

.cp img {
	border-bottom-color: ;
	padding-bottom: 2px;
	border-top-color: ;
	padding-left: 2px;
	width: 120px;
	padding-right: 2px;
	height: 120px;
	border-right-color: ;
	border-left-color: ;
	padding-top: 2px
}

.inputstyles {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 0px;
	padding-left: 1px;
	width: 80px;
	padding-right: 1px;
	font: 12px "microsoft sans serif";
	background: url(input/bg_input_text.png) #fff repeat-x;
	height: 16px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 0px
}

.inputstyle {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 0px;
	padding-left: 2px;
	width: 150px;
	padding-right: 2px;
	font: 12px "microsoft sans serif";
	background: url(input/bg_input_text.png) #fff repeat-x;
	height: 18px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 2px
}

.inputstyle_hover {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 0px;
	padding-left: 2px;
	width: 150px;
	padding-right: 2px;
	font: 12px "microsoft sans serif";
	background: url(input/bg_input_text.png) #fff repeat-x;
	height: 18px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 2px
}

.pageinput {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 0px;
	padding-left: 2px;
	width: 150px;
	padding-right: 2px;
	font: 12px "microsoft sans serif";
	background: url(input/bg_input_text.png) #fff repeat-x;
	height: 18px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 2px
}

.logininput {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 0px;
	padding-left: 2px;
	width: 150px;
	padding-right: 2px;
	font: 12px "microsoft sans serif";
	background: url(input/bg_input_text.png) #fff repeat-x;
	height: 18px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 2px
}

.logininput_hover {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 0px;
	padding-left: 2px;
	width: 150px;
	padding-right: 2px;
	font: 12px "microsoft sans serif";
	background: url(input/bg_input_text.png) #fff repeat-x;
	height: 18px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 2px
}

.inputstyle_hover {
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	border-top: #000000 1px solid;
	border-right: #000000 1px solid
}

.txtstyle_validate {
	border-bottom: medium none;
	border-left: medium none;
	padding-left: 20px;
	background: url(../images/ico_del.gif) no-repeat;
	color: red;
	border-top: medium none;
	border-right: medium none;
	padding-top: 2px
}

.logininput {
	border-bottom: #999 1px solid;
	border-left: #999 1px solid;
	width: 140px;
	color: #c16714;
	border-top: #999 1px solid;
	font-weight: bold;
	border-right: #999 1px solid
}

.logininput_hover {
	border-bottom: #999 1px solid;
	border-left: #999 1px solid;
	width: 140px;
	color: #c16714;
	border-top: #999 1px solid;
	font-weight: bold;
	border-right: #999 1px solid
}

.logininput_hover {
	border-bottom: #000000 1px solid;
	border-left: #000000 1px solid;
	background-color: #fff;
	border-top: #000000 1px solid;
	border-right: #000000 1px solid
}

.selectstyle {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 1px;
	padding-left: 1px;
	width: 156px;
	padding-right: 1px;
	font: 12px "microsoft sans serif";
	background: url(input/bg_input_text.png) repeat-x;
	height: 22px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 1px
}

.selectstyle_hover {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 1px;
	padding-left: 1px;
	width: 156px;
	padding-right: 1px;
	font: 12px "microsoft sans serif";
	background: url(input/bg_input_text.png) repeat-x;
	height: 22px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 1px
}

.selectstyle_hover {
	border-bottom: #99cc00 1px solid;
	border-left: #99cc00 1px solid;
	background: url(input/bg_input_text_hover.png) repeat-x;
	border-top: #99cc00 1px solid;
	border-right: #99cc00 1px solid
}

.select {
	border-bottom: 0px;
	position: relative;
	border-left: 0px;
	line-height: 14px;
	width: 183px;
	color: #909993;
	border-top: 0px;
	top: -2px;
	border-right: 0px;
	left: -2px
}

.select_1 {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	width: 127px;
	height: 20px;
	overflow: hidden;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid
}

.select_1 select {
	margin: -1px;
	width: 129px;
	height: 30px
}

.dp {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 0px;
	margin: 5px 5px 0px;
	padding-left: 0px;
	width: auto;
	padding-right: 0px;
	background: url(grid/box_bg.jpg) repeat-x;
	height: auto;
	color: #ac6e00;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 1px
}

.dt {
	line-height: 25px;
	padding-left: 10px;
	width: auto;
	background: url(grid/box_bg.jpg) #ededed repeat-x;
	height: 25px;
	font-weight: bold
}

.dc {
	border-bottom: #ccc 1px;
	border-left: #ccc 1px;
	padding-bottom: 4px;
	margin: 5px;
	padding-left: 4px;
	padding-right: 4px;
	font: 12px "microsoft sans serif", arial, "宋体";
	color: black;
	border-top: #ccc 1px;
	border-right: #ccc 1px;
	padding-top: 4px
}

.df {
	line-height: 25px;
	padding-left: 5px;
	width: auto;
	padding-right: 5px;
	height: 25px;
	color: black
}

.db {
	line-height: 25px;
	padding-left: 5px;
	width: auto;
	background: url(grid/box_bottom_bg.jpg) repeat-x;
	height: 25px
}

.dico {
	width: 18px;
	height: 17px;
	padding-top: 0px
}

.dico img {
	margin-bottom: -1px
}

.dcmd {
	float: right;
	color: black;
	font-weight: normal
}

.dcz {
	text-align: right;
	line-height: 25px;
	width: 100%;
	height: 25px
}

.ts {
	border-left: #0a508c 1px solid;
	background-color: #fff;
	margin: 0px auto;
	width: 100%;
	border-top: #0a508c 1px solid;
	border-right: #0a508c 1px solid
}

th {
	border-bottom: #0a508c 1px solid;
	text-align: left;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	font: 12px "microsoft sans serif", arial, "宋体";
	background: #c3daf9;
	height: 23px;
	color: #000;
	border-right: #0a508c 1px solid;
	padding-top: 0px
}

.ts td {
	border-bottom: #0a508c 1px solid;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	font: 12px "microsoft sans serif", arial, "宋体";
	height: 22px;
	color: #000;
	border-right: #0a508c 1px solid;
	padding-top: 0px
}

.ct {
	text-align: center;
	width: 20px
}

.tcmd {
	text-align: center
}

.ts tr.over td {
	background: #c3daf9
}

.ts tr:hover td {
	background: #c3daf9
}

.nodatabox {
	text-align: center;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: red;
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px
}

.nodatabox img {
	margin: 0px 10px -6px 0px
}

.ap {
	text-align: right;
	line-height: 25px;
	height: 25px;
	color: black;
	_margin-top: 4px
}

.ap a {
	text-decoration: none
}

.ap a:link {
	text-decoration: none
}

.ap a:hover {
	text-decoration: none
}

.pageinput {
	padding-bottom: 1px;
	line-height: 16px;
	padding-left: 2px;
	padding-right: 0px;
	margin-bottom: -1px;
	height: 16px;
	padding-top: 0px
}

.pagebutton {
	border-bottom: #d17b0a 1px solid;
	filter: progid : dximagetransform.microsoft.gradient ( gradienttype = 0,
		startcolorstr = #5aacf8, endcolorstr = #0d5798 );
	border-left: #d17b0a 1px solid;
	padding-bottom: 2px;
	line-height: 16px;
	margin: 0px 2px;
	padding-left: 2px;
	padding-right: 2px;
	height: 22px;
	color: #fff;
	font-size: 12px;
	border-top: #d17b0a 1px solid;
	cursor: hand;
	border-right: #d17b0a 1px solid;
	padding-top: 0px
}

#tipdiv {
	border-bottom: #ccc 1px solid;
	position: absolute;
	text-align: center;
	border-left: #ccc 1px solid;
	padding-bottom: 0px;
	line-height: 25px;
	padding-left: 3px;
	width: auto;
	padding-right: 3px;
	display: none;
	background: #ffffdd;
	height: 25px;
	color: red;
	border-top: #ccc 1px solid;
	top: 36px;
	right: 15px;
	font-weight: bold;
	border-right: #ccc 1px solid;
	padding-top: 0px
}

.hovernodestyle {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	padding-bottom: 0px;
	line-height: 12px;
	padding-left: 2px;
	padding-right: 2px;
	height: 12px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid;
	padding-top: 0px
}

.leafnodestyle {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	line-height: 14px;
	background: #ffffcc;
	height: 14px;
	border-top: #ccc 1px solid;
	font-weight: bold;
	border-right: #ccc 1px solid
}

.nodestyle {
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	line-height: 14px;
	background: #fff;
	height: 14px;
	border-top: #ccc 1px solid;
	border-right: #ccc 1px solid
}

.perantnodestyle {
	border-bottom: #000 1px solid;
	border-left: #000 1px solid;
	border-top: #000 1px solid;
	border-right: #000 1px solid
}

.rootnodestyle {
	border-bottom: #555 1px solid;
	border-left: #555 1px solid;
	border-top: #555 1px solid;
	border-right: #555 1px solid
}

.treecss td {
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px
}

.treecss td div {
	height: 20px !important
}

.cgreeng {
	color: #097406
}

.credg {
	color: #b42d2d
}

.map1 {
	line-height: 30px;
	padding-left: 20px;
	background: url(../images/1.gif) no-repeat left center;
	height: 30px;
	color: #0b2d6d
}

.map2 {
	line-height: 30px;
	padding-left: 20px;
	background: url(../images/2.gif) no-repeat left center;
	height: 30px;
	color: #0b2d6d
}

.map3 {
	line-height: 30px;
	padding-left: 20px;
	background: url(../images/3.gif) no-repeat left center;
	height: 30px;
	color: #0b2d6d
}

.map4 {
	line-height: 30px;
	padding-left: 20px;
	background: url(../images/4.gif) no-repeat left center;
	height: 30px;
	color: #0b2d6d
}

.map {
	width: 102px;
	background: url(../images/map.jpg) no-repeat;
	height: 74px
}

.map .th {
	text-align: center;
	height: 22px;
	vertical-align: top
}

.map .th1 {
	height: 22px;
	font-size: 8pt;
	vertical-align: top
}

.map .th a:link {
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	text-decoration: none
}

.map02 .th a:visited {
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	text-decoration: none
}

.map01 .th {
	border-bottom: 0px;
	border-left: 0px;
	line-height: 15px;
	width: 140px;
	color: white;
	font-size: 12px;
	border-top: 0px;
	border-right: 0px
}

.map02 .th {
	border-bottom: 0px;
	border-left: 0px;
	line-height: 15px;
	width: 140px;
	color: white;
	font-size: 12px;
	border-top: 0px;
	border-right: 0px
}

.map03 .th {
	border-bottom: 0px;
	border-left: 0px;
	line-height: 15px;
	width: 140px;
	color: white;
	font-size: 12px;
	border-top: 0px;
	border-right: 0px
}

.map04 .th {
	border-bottom: 0px;
	border-left: 0px;
	line-height: 15px;
	width: 140px;
	color: white;
	font-size: 12px;
	border-top: 0px;
	border-right: 0px
}

.map05 .th {
	border-bottom: 0px;
	border-left: 0px;
	line-height: 15px;
	width: 140px;
	color: white;
	font-size: 12px;
	border-top: 0px;
	border-right: 0px
}

.map06 .th {
	border-bottom: 0px;
	border-left: 0px;
	line-height: 15px;
	width: 140px;
	color: white;
	font-size: 12px;
	border-top: 0px;
	border-right: 0px
}

.map01 {
	border-bottom: #adba84 1px solid;
	text-align: center;
	border-left: #adba84 1px solid;
	background: #fff;
	border-top: #adba84 1px solid;
	border-right: #adba84 1px solid
}

.map01 tr {
	border-bottom: 0px;
	border-left: 0px;
	line-height: 15px;
	border-top: 0px;
	border-right: 0px
}

.map01 tr td {
	width: 50px;
	background: #c0dbf3;
	font-size: 12px
}

.map01 tr .tdd {
	width: 12px;
	font-size: 12px
}

.map02 {
	border-bottom: #adba84 1px solid;
	text-align: center;
	border-left: #adba84 1px solid;
	background: #fff;
	border-top: #adba84 1px solid;
	border-right: #adba84 1px solid
}

.map02 .th {
	background: #ff7d00
}

.map02 tr {
	border-bottom: 0px;
	border-left: 0px;
	line-height: 15px;
	border-top: 0px;
	border-right: 0px
}

.map02 tr td {
	width: 50px;
	background: #c0dbf3;
	font-size: 12px
}

.map02 tr .tdd {
	width: 12px;
	font-size: 12px
}

.map03 {
	border-bottom: #adba84 1px solid;
	text-align: center;
	border-left: #adba84 1px solid;
	background: #fff;
	border-top: #adba84 1px solid;
	border-right: #adba84 1px solid
}

.map03 .th {
	background: #feff05
}

.map03 tr {
	border-bottom: 0px;
	border-left: 0px;
	line-height: 15px;
	border-top: 0px;
	border-right: 0px
}

.map03 tr td {
	width: 50px;
	background: #c0dbf3;
	font-size: 12px
}

.map03 tr .tdd {
	width: 12px;
	font-size: 12px
}

.map04 {
	border-bottom: #adba84 1px solid;
	text-align: center;
	border-left: #adba84 1px solid;
	background: #fff;
	border-top: #adba84 1px solid;
	border-right: #adba84 1px solid
}

.map04 .th {
	background: #00ff00
}

.map04 tr td {
	width: 50px;
	background: #c0dbf3;
	font-size: 12px
}

.map04 tr .tdd {
	width: 12px;
	font-size: 12px
}

.map05 {
	border-bottom: #adba84 1px solid;
	text-align: center;
	border-left: #adba84 1px solid;
	background: #fff;
	border-top: #adba84 1px solid;
	border-right: #adba84 1px solid
}

.map05 .th {
	background: #0b55f4
}

.map05 tr td {
	width: 50px;
	background: #c0dbf3;
	font-size: 12px
}

.map05 tr .tdd {
	width: 12px;
	font-size: 12px
}

.map06 {
	border-bottom: #adba84 1px solid;
	text-align: center;
	border-left: #adba84 1px solid;
	background: #fff;
	border-top: #adba84 1px solid;
	border-right: #adba84 1px solid
}

.map06 .th {
	background: #f81dc7
}

.map06 tr td {
	background: #c0dbf3;
	font-size: 12px
}

.map06 tr .tdd {
	width: 12px;
	font-size: 12px
}

.map09 tr td {
	background: #ff0000
}

.map07 tr td {
	background: #c0dbf3
}

#treetable {
	vertical-align: top
}

.map08 {
	border-bottom: #adba84 1px solid;
	text-align: center;
	filter: progid : dximagetransform.microsoft.gradient ( gradienttype = 0,
		startcolorstr = #f8fcfe, endcolorstr = #d3ecfc );
	border-left: #adba84 1px solid;
	border-top: #adba84 1px solid;
	border-right: #adba84 1px solid
}

.mapb1 {
	border-bottom: #333 1px solid;
	border-left: #333 1px solid;
	border-top: #333 1px solid;
	border-right: #333 1px solid
}

.tbss {
	border-bottom: #af1e27 1px solid;
	border-left: #af1e27 1px solid;
	margin: 0px auto;
	width: 100%;
	border-top: #af1e27 1px solid;
	border-right: #af1e27 1px solid
}

.tbss td {
	border-bottom: #af1e27 1px solid;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 4px;
	font: 12px "microsoft sans serif", arial, "宋体";
	height: 22px;
	color: #fff;
	border-right: #af1e27 1px solid;
	padding-top: 0px
}

.cmaptab {
	
}

.cmaptab tr {
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px
}

.cmaptab tr td {
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px
}

.cmaptab01 {
	width: 115px;
	background: url(../images/map01.jpg) no-repeat;
	height: 74px;
	border: 0;
	margin: 0 auto;
}

.cmaptab01 .th {
	text-align: center;
	height: 22px;
	color: #fff;
	vertical-align: top
}

.cmaptab01 .th1 {
	height: 22px;
	font-size: 8pt;
	vertical-align: top
}

.cmaptab01 .th a:link {
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	text-decoration: none
}

.cmaptab01 .th a:visited {
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	text-decoration: none
}

.cmaptab02 {
	width: 115px;
	background: url(../images/map02.jpg) no-repeat;
	height: 74px;
	border: 0;
	margin: 0 auto;
}

.cmaptab02 .th {
	text-align: center;
	height: 22px;
	color: #fff;
	vertical-align: top
}

.cmaptab02 .th1 {
	height: 22px;
	font-size: 8pt;
	vertical-align: top
}

.cmaptab02 .th a:link {
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	text-decoration: none
}

.cmaptab02 .th a:visited {
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	text-decoration: none
}

.cmaptab03 {
	width: 115px;
	background: url(../images/map03.jpg) no-repeat;
	height: 74px;
	border: 0;
	margin: 0 auto;
}

.cmaptab03 .th {
	text-align: center;
	height: 22px;
	color: #fff;
	vertical-align: top
}

.cmaptab03 .th1 {
	height: 22px;
	font-size: 8pt;
	vertical-align: top
}

.cmaptab03 .th a:link {
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	text-decoration: none
}

.cmaptab03 .th a:visited {
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	text-decoration: none
}

.mapfoot {
	text-align: center;
	width: 140px;
	float: left;
	color: #ffff00;
	font-size: 14px
}

.mapfoot a:link {
	font-family: arial, helvetica, sans-serif;
	color: #ffff00;
	font-size: 14px;
	text-decoration: none
}

.mapfoot a:visited {
	font-family: arial, helvetica, sans-serif;
	color: #ffff00;
	font-size: 14px;
	text-decoration: none
}

.mapfoot2 {
	text-align: center;
	width: 140px;
	float: left;
	color: #fff;
	font-size: 14px
}

.mapfoot2 a:link {
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	text-decoration: none
}

.mapfoot2 a:visited {
	font-family: arial, helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	text-decoration: none
}

.t_view {
	width: 100%
}

.t_view th {
	text-align: center;
	background: #494949;
	color: #fff
}

.tabs {
	text-align: center;
	line-height: 25px;
	background-color: #ecb864;
	width: 142px;
	display: block;
	float: left;
	height: 25px
}


.tabs_act {
	text-align: center;
	line-height: 25px;
	background-color: #ececec;
	width: 142px;
	display: block;
	float: left;
	height: 25px
}

.tabs_act {
	color: #000000;
	font-weight: bold
}

.sliding_tab {
	height: 27px
}

.sliding_tab li {
	float: left
}

.sliding_tab li.table_li {
	line-height: 26px;
	width: 136px;
	height: 26px
}

.tablist {
	background-color: white;
	width: 280px;
	height: 150px;
	clear: both;
	overflow: hidden
}