<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>creditcardm</display-name>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath*:config/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:config/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>carss.servlet.AppListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <description>过滤会员是否登录</description>
    <filter-name>filterMember</filter-name>
    <filter-class>carss.servlet.FilterMember</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterMember</filter-name>
    <url-pattern>/member/*</url-pattern>
  </filter-mapping>
  <filter>
    <description>过滤管理员是否登录</description>
    <filter-name>filterAdmin</filter-name>
    <filter-class>carss.servlet.FilterAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterAdmin</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>struts-default.xml,struts-plugin.xml,config/struts.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>随即认证吗图片</description>
    <servlet-name>authImg</servlet-name>
    <servlet-class>carss.servlet.AuthImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authImg</servlet-name>
    <url-pattern>/servlet/authImg.jpg</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>login-admin.jsp</welcome-file>
  </welcome-file-list>
</web-app>